{% extends 'layouts/nav.html' %} {% block content %}

<main data-aos="fade-up">
    
  <section id="hero" class="hero d-flex align-center">
    <div class="container">
      <div class="row">
        <h1> Login</h1>

<form method="POST" class="post-form" action="{% url 'about' %}"> 
    {% csrf_token %}
    <div class="card w-75 bg-transparent mx-auto justify-content-center border-0">
        <div class="card-body w-50 mx-auto">
          {{ form.as_p}}
        </div>
        <button type="submit" class="btn btn-primary mx-auto w-25" href="{% url 'about' %}">Ingresar</a>
      </div>
    
</form>
</div>
</div>
</section>
</main>
{%endblock%}